.container {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  .linkLay {
    color: black;
    border: none;
    outline: none;
    text-decoration: none;
    &:hover,
    &:active {
      text-decoration: none;
    }
  }
  .modalHeader {
    font-size: 36px;
    margin-top: -25px;
    margin-bottom: 30px;
  }
  .modalInner {
    display: flex;
    width: 95%;
    flex-direction: column;
    div {
      margin: 10px 0px;
    }

    .modalName {
      font-size: 12px;
      margin: 15px 0;
    }
    .faPlus {
      width: 40px;
      height: 40px;
      padding: 30px;
      background-color: #efefef;
      border-radius: 20px;
      cursor: pointer;
      &:hover {
        background-color: #e0e0e0;
      }
    }
    .nameInput {
      height: 40px;
      border-radius: 15px;
      border: #efefef solid 2px;
      font-size: 18px;
      &:hover {
        border: #969696 solid 2px;
      }
    }
    .descInput {
      height: 100px;
      border-radius: 15px;
      border: #efefef solid 2px;
      font-size: 18px;
      resize: none;
      &:hover {
        border: #969696 solid 2px;
      }
    }
    .delName {
      font-size: 28px;
      cursor: pointer;
    }
    .delContent {
      color: #969696;
    }
  }
  .header {
    display: flex;
    justify-content: center;
    padding: 10px;
    .headerContents {
      display: flex;
      align-items: center;
    }
    .headerBdName {
      font-size: 36px;
    }
    .headerTool {
      margin-left: 10px;
      width: 35px;
      height: 35px;
      background-color: #efefef;
      border-radius: 50%;
      cursor: pointer;
      &:hover {
        background-color: #e0e0e0;
      }
    }
  }
  .uiToolBox {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    div {
      padding: 5px;
    }
    p {
      margin: 4px 0px;
      font-size: 12px;
      text-align: center;
    }
    .iconBox {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90px;
      height: 90px;
      background-color: #efefef;
      border-radius: 15px;
      cursor: pointer;
      &:hover {
        background-color: #e0e0e0;
      }
      .faStar {
        width: 50px;
        height: 50px;
      }
      .faSquareCheck {
        width: 50px;
        height: 50px;
      }
    }
  }
  .uiNav {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    .pinCnt {
      font-size: 20px;
      font-weight: 700;
    }
  }
  .pinList {
    margin-top: 10px;
  }
  .linkToPinW {
    display: flex;
    justify-content: center;
    .linkToPin {
      width: 50%;
      font-size: 30px;
      cursor: pointer;
      text-align: center;
      border-radius: 15px;
      padding: 10px;

      &:hover {
        background-color: #efefef;
      }
    }
  }
  .bottonUi {
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 50%;
    box-shadow: 1px 1px 1px 1px #efefef;
  }
}
