.wrapBoardInfo {
  display: flex;
  width: 100%;
  margin-bottom: 5px;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;

  .boardListImg {
    width: 35px;
    height: 35px;
    border-radius: 15px;
    margin-right: 10px;
    pointer-events: none;
  }
  .wrapTitle {
    display: flex;
    align-items: center;
    pointer-events: none;

    .boradTitle {
      font-size: 15px;
      pointer-events: none;
    }
  }
}
