.container {
  position: relative;
  .imgInput {
    display: none;
  }
  .modalHeader {
    font-size: 36px;
    margin-top: -25px;
    margin-bottom: 30px;
  }
  .modalBtn {
    padding: 10px 20px;
    background-color: rgb(230, 9, 26);
    cursor: pointer;
    border-radius: 30px;
    color: white;
    &:hover {
      opacity: 0.8;
    }
  }
  .innerContainer {
    display: flex;
    margin-top: 140px;
    width: 100%;
    .sideBar {
      width: 20%;
      display: flex;
      .sideBarContents {
        margin-left: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }

  .mainContents {
    width: 40%;
    div {
      margin: 20px 0px;
    }
    input,
    textarea {
      width: 100%;
      border-radius: 10px;
      border: #efefef solid 2px;
      font-size: 16px;
      &:hover {
        border: #969696 solid 2px;
      }
    }
    .imgBox {
      display: flex;
      align-items: center;
      .imgWrapper {
        height: 80px;
        width: 80px;
        .mePhoto {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      .imgBtn {
        margin-left: 30px;
        background-color: #efefef;
        cursor: pointer;
        padding: 20px;
        border-radius: 30px;
        &:hover {
          background-color: #e0e0e0;
        }
      }
    }

    .nameInput {
      height: 48px;
    }
    .descInput {
      height: 96px;
      resize: none;
    }
    .webInput {
      height: 48px;
    }
    .nickNameInput {
      height: 48px;
      margin-bottom: 80px;
    }
  }
}
