.iconWrapper {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  .icon {
    width: 40px;
    height: 40px;
    margin: 0px 20px;
    cursor: pointer;
  }
}
.createBtn {
  position: relative;
  p {
    font-size: 12px;
    margin: 10px;
  }
  li {
    color: black;
    padding: 12px;
    font-weight: 700;
    margin: 0;
    text-decoration: none;
    display: block;
  }

  li:hover {
    background-color: #ddd;
    border-radius: 15px;
  }
}
.iconWrapper:hover {
  border-radius: 50%;
  background-color: #efefef;
}
