.container {
  width: 90%;
  border: 1px solid black;
  .commentList {
    display: flex;
    flex-direction: column;
    width: 100%;
    .userImg {
      width: 10%;
      height: 50px;
      border-radius: 100%;
    }
    .userInfo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 90%;
      .userText {
        display: flex;
        align-items: center;
      }
    }
  }
  .commentInputContainer {
    display: flex;
    width: 100%;
    border: 1px solid black;
    .myImg {
      width: 20%;
      height: 100%;
    }
    .commentInput {
      width: 70%;
    }
  }
}
