.commentContainer {
  display: flex;
  width: 100%;
  margin-bottom: 20px;

  .commentImg {
    width: 30px;
    height: 30px;
    border-radius: 100%;
  }
  .firstLine {
    display: flex;
    align-items: center;
    .nickname {
      margin-right: 10px;
      text-align: center;
    }
    .content {
      font-weight: 400;
    }
  }
  .secondLine {
    display: flex;
    position: relative;
    font-weight: 100;
    .recomment {
      margin-right: 5px;
      color: silver;
      font-weight: 400;
      cursor: pointer;
    }
    .time {
      margin-right: 5px;
    }
    .like {
      margin-right: 5px;
      cursor: pointer;
      color: red;
    }
    .delete {
      cursor: pointer;
    }
  }
  .nestedcomment {
    cursor: pointer;
  }
}
