.container {
  column-width: 256px;
  column-gap: 5px;
  margin-left: 56px;
  margin-right: 56px;
  padding-top: 75px;

  .wrapPin {
    position: relative;
    margin-bottom: 10px;
    .pinImg {
      width: 100%;
      border-radius: 10%;
      cursor: pointer;
    }
    .pinModal {
      position: absolute;
      border-radius: 10%;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(20, 20, 20, 0.673);
      pointer-events: none;

      .buttonProfile {
        position: absolute;
        top: 10%;
        left: 5%;
        color: white;
        font-size: medium;
        background-color: transparent;
        border: none;
      }

      .buttonStore {
        position: absolute;
        top: 6%;
        right: 5%;
        border: none;
        font-size: medium;
        color: white;
        background-color: red;
        padding: 10px 15px 10px 15px;
        border-radius: 30%;
      }
    }
  }
}
