.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  background-color: white;
  z-index: 1;
  position: fixed;
  top: 0px;

  .wrapBtn {
    display: flex;
    align-items: center;
    height: 100%;
    .homeBtn {
      margin-left: 10px;
      width: 70px;
      height: 80%;
      border-radius: 30%;
      border: none;
      margin-right: 5px;
      cursor: pointer;
    }
    .addBtn {
      width: 70px;
      height: 80%;
      border-radius: 30%;
      border: none;
      background-color: #efefef;
      cursor: pointer;
      font-size: 14px;
    }
  }
  .wrapSearchBar {
    display: flex;
    position: relative;
    align-items: center;
    width: 60%;
    z-index: 1;

    .search {
      width: 100%;
      height: 70%;
      z-index: 1;
      border: none;
      background-color: rgba(128, 128, 128, 0.125);
      border-radius: 30px;
      padding-left: 25px;
      outline: none;
      &:focus-visible {
        outline: 5px solid skyblue;
      }
    }
  }
  .emoji {
    display: flex;
    align-items: center;
    .message {
      width: 70px;
      height: 80%;
      border-radius: 30%;
      border: none;
      margin-right: 5px;
    }
    .profileImg {
      width: 70px;
      height: 80%;
      border-radius: 30%;
      cursor: pointer;
      margin-right: 5px;
    }
  }
}
